body > div {
    position: relative;
    background-image: url(./img/AI\ PICTURE.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 500px;
    /* opacity: 0.5; */
    background-blend-mode: color-dodge;
    background-color: #ffffff86;
    font-weight: bolder;
    margin: auto;
}
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #000;
}
.top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: #000;
}
.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    color: #000;
}
.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    color: #000;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: #000;
    transform: translate(-50%, -50%);
}

/* .container {
    position: relative;
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  /*   width: 80%;
    height: 50px; */
}
/* .top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bolder;
}
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bolder;
} */ */