/* Home page */

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  border: 1px solid red;
  /* gap: 50px; */
  gap: 30px;
}
.home-container p {
  color: white; 
  color: rgb(54, 191, 246);
  font-size: 1.1rem;
  padding-top: 20px;
}

.home-container h1 {
  font-size: 3rem;
  color: white;
}

.my-work {
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  border: 1px solid red;
}

.myWork-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.myWork-container1 .im {
  max-width: 58%;
  border-radius: 10px 0px 0px 10px;
}

.works {
  width: 30%;
  height: 558px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  /* padding: 25px; */
  /* align-items: center; */
  border: 1px solid red;
  gap: 50px;
  object-fit: contain;
}

.works img {
  width: 25%;
  /* position: relative;
  right: 100px; */
}

.works h3 {
  color: white;
  font-size: 2rem;
  display: flex;
  /* margin-top: 40px; */
}

.works h3 span {
  font-size: 1rem;
  padding: 5px;
}

.works p {
  width: 75%;
  color: white;
  font-size: 0.9rem;
  overflow: hidden;
}

.view-btn {
  width: 55%;
  color: white;
  font-size: 1.2rem;
  padding: 15px 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(144, 238, 144, 0.626);
  border-radius: 50px;
  right: 40px;
}

.fa-angle-right {
  position: relative;
  padding-left: 15px;
}

.view-btn:hover {
  background-color: rgba(182, 234, 80, 0.648);
}


/* contact page */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: hsl(0, 0%, 7%);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin:  auto;
  padding: 15px 0;
  background-color: hsl(0, 0%, 11%);
}

header img:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease-in;
}

.logo {
  width: 3%;
  padding-left: 80px;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 1.1rem;
  align-items: center;
  color: white;
  padding-right: 100px;
}

ul li:hover {
  color: hsl(0, 100%, 70%);
  cursor: pointer;
  border: 2px solid white;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* button {
  background-color: hsl(0, 100%, 70%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 100%, 60%);
} */

.contact {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.contact h1 {
  font-size: 2rem;
  color: hsl(0, 100%, 70%);
}

.contact p {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  max-width: 40%;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.contact-info img {
  max-width: 40%;
  border-radius: 10px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  background-color: hsl(0, 0%, 11%);
  max-width: 48%;
  border-radius: 10px;
  padding-top: 55px;
  line-height: 1.5;
  padding-left: 40px;
}
.contact-details h4 {
  font-size: 1rem;
  max-width: 80%;
}
.contact-details h3 {
  font-size: 1.2rem;
}
.contact-details a {
  font-weight: 600;
}
.contact-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.fa-envelope {
  margin-top: 20px;
  color: hsl(0, 100%, 70%);
}

.email {
  margin-top: 10px;
}
.email  a {
  font-size: 1.1rem;
  margin-top: 12px;
  color: white;
  text-decoration: none;
}

.contact-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
} 
.fa-phone {
  color: hsl(0, 100%, 70%);
  margin-top: 10px;
}

.contact-details div a {
  color: white;
  text-decoration: none;
  display: block;
  flex-direction: row;
  margin-top: 10px;
}


.project-container img {
  background-color: blue;
  width: 100%;
}

.footer {
  background-color: hsl(0, 0%, 11%);
  color: white;
  width: 75%;
  margin: 20px auto;
  margin-top: 50px;
  padding: 130px 0px 50px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-bottom {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  margin-top: 40px;
  justify-content: space-between;
}

.footer-number {
  background-color: hsl(0, 0%, 20%);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.footer-number h2 {
  font-size: 1.2rem;
}

.footer-bottom-content {
  width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footer-bottom-content p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.635);
}

.f3 {
  margin-top: 40px;
}

.social-logo {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.social-logo i  {
  font-size: 1.5rem;
  color: white;
  display: flex;
  position: relative;
  left: 30px;
  margin-top: 50px;
}

.social-logo i:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.social-logo a {
  text-decoration: none;
}


/* NB: this is example is for useState class */
* {
  margin: 0;
  padding: 0;
}

.appContainer {
  width: 100%;
}

.count-app {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 30px 0px 40px;
  margin-top: 50px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
}

.count-app h2 {
  font-size: 4rem;
}

button {
  padding: 0px 25px;
  font-size: 2rem;
  margin: 10px;
  font-size: 2.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 0.386);
  color: white;
}

button:hover {
  background-color: hsla(0, 0%, 0%, 50%);
}

.button-count span {
  font-size: 2rem;
  font-weight: 600;
}

/* Media query Home page */

@media(max-width: 425px) {
  
}


