* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App container */
#app-container {
  margin: 20px auto;
  width: 30%;
  background-color: indianred;
  border-radius: 10px;
  padding: 10px;
}

/* Error message */
#msg {
  background-color: rgb(233, 83, 83);
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}

.fa-times {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* Inputs */
#input-field, #add-btn {
  padding: 10px;
}

/* Tasks */
#tasks-area {
  background-color: lightgrey;
  padding: 10px;
  margin-top: 10px;
}

ul {
  list-style: none;
}

li {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Completed task */
.completed .task-text {
  text-decoration: line-through;
  color: gray;
}

/* Icons */
.fa-trash-o {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}

.fa-check {
  color: green;
  cursor: pointer;
}